#chat_card {
    width: 200px;
    height: 100px;
    background-color: rgba(4, 157, 4, 0.68);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 4px gray);
}

#chat_avatar {

}

#chat_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chat_icon {
    width: 25px;
    height: 25px;
}
